#exercice2{

    h2 {
        text-align: center;
    }

    #stagerBox{
        min-height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            height: 10vh;
            aspect-ratio: 50/50;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > *:nth-child(1) {
            background-color: #9580ff;
        }

        & > *:nth-child(2) {
            background-color: #8aff80;
        }

        & > *:nth-child(3) {
            background-color: #ff80bf;
        }

        & > *:nth-child(4) {
            background-color: #ffff80;
        }

        & > *:nth-child(5) {
            background-color: #ff9580;
        }
    }

    &::after {
        content: "";
        display: flex;
        margin: 1% auto;
        height: 1px;
        width: 80%;
        background: #747474;
    }
}