#introduction {
    position: relative;
    padding: 20px;

    h1 {
        text-align: center;
        font-size: 3vw;
        padding: 5% 0;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2% 0;
        
        label {
            
            input {
                margin: 0 10px;
            }
            
            p {
                font-style: italic;
                margin-left: 50px;
                line-height: 2rem;
            }

        }
    }

    #pirateOrigin{
        scale: 0.998;
        width: 200px;
        position: absolute;
    }
    
    #pirateImg {
        display: block;
        width: 200px;
    }

    &::after {
        content: "";
        display: flex;
        margin: 1% auto;
        height: 1px;
        width: 80%;
        background: #747474;
    }
}